<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=320, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo&display=swap">
    <title>Tomato one</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" defer></script>
    <script src="js/main.js" defer></script>
</head>
<body>
<div class="header">
    <div class="wrapper">
        <div class="row">
            <div class="w-1">
                <div id="logo2">
                    <a href="index.html"><img src="images/Logo.png" alt="Logo" style="margin-top: 20px;"></a>
                </div>
            </div>
            <div class="w-1 align-right">
                <div id="search">
                    <div id="search-in" class="flex">
                        <input type="search" placeholder="Search">
                        <button>Submit</button>
                    </div>
                </div>
                <div id="menu">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="">Company Profile</a></li>
                        <li><a href="tomato_all.html">Products</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">R & D</a></li>
                        <li><a href="contact_us.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bananas">
<div class="product-hero">
    <div class="product-hero-content">
        <div class="product-hero-left">
            <h1>{{product.title}}
                <br/>
                <span style="color: #57984C;">Tomato Determinate</span>
                <br/>
                <span style="color: #57984C;">Red Standard Round</span>
            </h1>
            <p class="text-content2">×××××</p>
            <div class="product-highlight">
                <h2 style="display: flex; align-items: center; gap: 8px;">
                    <img src="images/tomato_red.png" alt="Mark"> Very high yield and <br> excellent fruit quality!
                </h2>
            </div>
            <div class="section-title" >CHARACTERISTICS</div>
            <div class="section-divider"></div>
            <div class="product-resistance">
                <span><b>Resistance</b></span>
                <br/>
                HR: ToMV:0-2; Fol: 1,2; Ve/Vd; <br/>
                IR: TYLCV
                <br/>
            </div>
        </div>
        <div class="product-hero-right">
            <img :src="product.image" class="product-image"/>
            <div class="btn-pdf-tomato">
                <a class="pdf-download-button" href="#" @click.prevent="addToCart(product.id)" v-if="!btnVisible">
                    <span class="pdf-icon"></span>
                    Add to basket
                </a>
                <a class="pdf-download-button" href="contact_us.html" v-if="btnVisible">
                    <span class="pdf-icon"></span>
                    Go to basket
                </a>
            </div>
        </div>
    </div>
</div>
<div class="product-details">
    <div class="product-details-content">
        <div class="product-details-left">
            <div class="product-details-section">
                <h2 class="section-title">Plant</h2>
                <div class="section-divider"></div>
                <div class="section-text" v-for="value in product.desc.plant">
                    <span>{{value}}</span>
                </div>
            </div>
            <div class="product-details-section">
                <h2 class="section-title">Fruit</h2>
                <div class="section-divider"></div>
                <div class="section-text" v-for="value in product.desc.fruit">
                    <span>{{value}}</span>
                </div>
            </div>
        </div>
        <div class="product-details-right">
            <div class="product-details-section">
                <h2 class="section-title">Cycle</h2>
                <div class="section-divider full-width"></div>
                <div class="section-text" v-for="value in product.desc.cycle">
                    <span>{{value}}</span>
                </div>
            </div>
            <div class="product-details-section">
                <h2 class="section-title">Color</h2>
                <div class="section-divider full-width"></div>
                <div class="section-text">
                <span>{{product.desc.color}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="footer">
    <div class="footer_content">
        <div id="links">
            <ul>
                <li><a href="">PROFILE</a></li>
                <li><a href="">MANAGEMENT</a></li>
                <li><a href="tomato_all.html">PRODUCTS</a></li>
                <li><a href="">R&D</a></li>
                <li><a href="">LINKS</a></li>
                <li><a href="">SITEMAP</a></li>
                <li><a href="contact_us.html">CONTACT</a></li>
            </ul>
        </div>
        <div class="social">
            <a href="https://linkedin.com"><img src="images/Ico_in.png" alt="in"></a>
            <a href="https://www.instagram.com"><img src="images/Ico_inst.png" alt="inst"></a>
            <a href="https://www.youtube.com"><img src="images/Ico_tube.png" alt="youtube"></a>
            <a href="https://twitter.com"><img src="images/Ico_tw.png" alt="twitter"></a>
            <a href="https://facebook.com"><img src="images/Ico_fb.png" alt="facebook"></a>
        </div>
    </div>
    <p>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
</div>
</body>
</html>